<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite-1">
    <!--<test name="TestCase-1">
        <classes>
            <class name="Test.NaukriProfile"/>
        </classes>
    </test>

    <test name="TestCase-2">
    <classes>
        <class name="Test.MonstersIndiaProfile"/>
    </classes>
    </test>

    <test name="TestCase-3">
        <classes>
            <class name="Test.ShineProfile"/>
        </classes>
    </test>-->

    <test name="TestCase-4">
        <classes>
            <class name="Test.IndeedProfile"/>
        </classes>
    </test>

</suite>